body{
  margin: 0;
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 24px;
  background-color: rgb(247, 247, 247);
}
p{
  font-family: Roboto,Arial;
  margin-top: 0;
  margin-bottom: 0;
}
.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  background-color: white;
  border-bottom: 1px solid rgb(230, 230, 230);
}
.header img{
  cursor: pointer;
}
.left-section{
  display: flex;
  align-items: center;
}
.middle-section{
  display: flex;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  align-items: center;
}
.right-section{
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
  flex-shrink: 0;
}
.hamburger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}
.youtube-logo{
  height: 20px;
}
.search-button{
  height: 40px;
  width: 66px;
  background-color: rgb(241, 240, 240);
  border: 1px solid gray;
  margin-left: -1px;
  margin-right: 10px;
}
.search-icon{
  height: 25px;
  margin-top: 4px;
}
.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
}
.voice-search-icon{
  height: 24px;
  margin-top: 4px;
}
.upload-icon{
  height: 24px;
}
.youtube-apps-icon{
  height: 24px;
}
.notifications-icon{
  height: 24px;
}
.notifications-icon-container{
  position: relative;
}
.notifications-count{
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(247, 1, 1);
  color: white;
  font-family: Roboto,Arial;
  font-size: 10px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 10px;
}
.user-icon{
  height: 32px;
  border-radius: 16px;
}
.thumbnail{
  width: 100%;
  border-radius: 10px;
}
.search-bar{
  flex: 1;
  height: 34px;
  width: 0;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.search-bar::placeholder{
  font-family: Roboto,arial;
  font-size: 16px;
}
.video-title{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.video-author,
.video-stats{
  font-size: 13px;
  color: rgb(96, 96, 96);
}
.video-author{
  margin-bottom: 4px;
}
.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.profile-picture{
  width: 40px;
  border-radius: 50px;
}
.thumbnail-row{
  margin-bottom: 8px;
  position: relative;
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
@media(max-width:750px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width:1000px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.sidebar{
  background-color:white;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 75px;
  z-index: 200;
  padding-top: 5px;
  border-right: 1px solid rgb(230, 230, 230);
}
.sidebar-link{
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sidebar-link:hover{
  background-color: rgb(226, 226, 226);
}
.sidebar-link img{
  height: 30px;
  margin-bottom: 4px;
}
.sidebar-link div{
  font-family: Roboto,Arial;
  font-size: 10px;
}
.video-time{
  font-family: Roboto,Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 5px;
}